:root {
    --green: #1DB954;
    --greenHover: rgb(20, 151, 66);
    --lightGrey: #DDDDDD;
    --grey: #6C6B6B;
    --black: #303030;
    --blue: #1BB7CC;
    --white: #ffffff;
    --red: #ef0606;
}

* {
    margin: 0;
    padding: 0;
}